/* General setting  sidebar*/
.sidebar {
  position: fixed;
  height: 100%;
  top: 60px;
  left: 0px;
  bottom: 0;
  width: 220px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #2A3F54;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #c5c5c5;
  font-size: 14px;
  padding: 5px;
}

.sidebar ul {
  list-style: none;
 
}

.sidebar>li {
  margin: 0;
  padding: 0;
}

.nav-link i {
  margin-right: 15px;
}

.nav li:hover {
  transition: 0.3s all;
  background-color: #4a48a88e;
}

.nav img {
  max-width: 35px;
}

/* ------------- Breadcrums */
.white-bg {
  background-color: #fffffff5;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.page-heading {
  border-top: 0;
  padding: 0 10px 10px 10px;
}

.breadcrumb {
  background-color: #eeeeee;
  padding: 0;
  margin-bottom: 0;
  font-size: 12px;
  color: #676a6c;
}

.wrapper-content {
  padding: 10px 10px 10px;
}

.pull-right {
  float: right;
}

.bg-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap:0px; */
}

.paddtop {
  padding-top: 80px;
}

.ibox {
  clear: both;
  margin-bottom: 5px;
  margin-top: 0;
  padding: 0;
  font-size: 13px;
  color: #676a6c;
}

.ibox-content {
  padding-top: 10px;
}

.container__users {
  display: flex;
  /* flex-direction: ; */
  /* gap: 10px; */
}

.users__h3 {
  padding-top: 5px;
  font-size: 18px;
  font-weight: 100;
  color: #333;
}

.smallfooter {
  padding: 5px;
  overflow-x: hidden;
}

.main__container {
  background-color: rgb(236, 236, 236);
  max-width: 1440px;
}

/* architect */
.architect {
  padding-top: 80px;
  padding-bottom: 15px;
}

.architect h2 {
  /* background: rgb(2, 0, 36); */
  /* background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, var(--default-color) 50%); */
  color: #1b1b1b;
}

.front-backend {
  padding-top: 25px;
  padding-bottom: 15px;
}

.disignmaket {
  /* background-color: #676a6c; */
  padding-top: 25px;
  padding-bottom: 15px;
}

.disignmaket h2 {
  /* background: rgb(2, 0, 36); */
  /* background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, var(--default-color) 50%); */
  color: #2c2c2c;
}

.coding {
  padding-top: 25px;
  padding-bottom: 15px;
}

.coding h2 {
  /* background: rgb(2, 0, 36); */
  /* background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, var(--default-color) 50%); */
  color: #2c2c2c;
}

.coding img {
  max-width: 800px;
}

.dashboard__container {}

.dashboard__container img {
  max-height: 420px;
}

/* reactinfo */
.reactinfo {
  padding-top: 25px;
  padding-bottom: 25px;
}

/*  */


.slider {
  width: 35px;
  height: 35px;
  background-color: #2A3F54;
  outline: 1px solid rgba(7, 94, 72, 0.616);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 240px;
  border-radius: 5px;
  transition: 0.1ms color;
  margin-right: 5px;
}

.slider:hover {
  outline: 1px solid gray;
  color: rgb(40, 18, 238);

}

.side-menu {
  width: 245px;
  height: 100vh;
  /* background-color: #013036; */
  background-image: linear-gradient(130deg, rgb(13, 53, 78) 10.9%, rgba(2, 70, 116, 0.952) 65.7%), url(../images/header-profile.png);
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease-in-out;
  z-index: 999;
}

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style: none;
  padding-left: 20px;
}

.side-menu ul li {
  padding: 0;
  padding: 3px;
  color: rgb(255, 255, 255);
  cursor: auto;
  /* margin-bottom: 10px; */
}

.react-calendar__navigation button {
  min-width: 32px !important;
  background: transparent !important;
}

.react-calendar {
  background: rgba(209, 209, 209, 0) !important;
  border: 0px solid #a0a096 !important;
}

/* container_breadcrumbs */
.container_breadcrumbs {
  padding-top: 0px;
}

.presentpage__rigth-block {
  padding-top: 20px;
  /* background-color: #eeeeee; */
}

.presentpage {}

.text-small12 {
  color: #e7e7e7;
  font-size: 12px;
}

/* introinfo  */
.introinfo {
  padding-top: 80px;
  padding-bottom: 25px;
}

/* nodeinfo */
.nodeinfo {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* mongodbinfo */
.mongodbinfo {

  padding-top: 25px;
  padding-bottom: 25px;
}

/* npminfo */
.npminfo {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* jwtauth */
.jwtauth {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* jwtauth */
.jwtauth {
  padding-top: 25px;
  padding-bottom: 25px;
}
.react-calendar__tile--now {
  background: #616161b6 !important;}
.text__black{
  font-size: 10px;
  color: #2c2c2c;
  margin-bottom: 5px;
}
.outline{
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  outline: 1px solid gray;
}
