.footer {
  background-color: #343a40;
  color: rgba(45, 122, 199, 0.541);
  font-size: 14px;
}

.footer__background {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.footer__block span {
  /* padding: 1px; */
  /* background-color: aliceblue; */
}

.footer_desc {
  color: rgb(185, 213, 238);
}

.footer__block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right-block {
  display: flex;
  gap: 15px;
  font-size: 14px;
  flex-direction: row;
  
}

.footer-link {
  color: var(--focus-color);
  animation: loading 1.3s linear infinite;
  transition: 0.3s ease-in-out;
}

.footer-link:hover {
  animation: rotate 2s infinite;
  animation: rotate 2s infinite;
  color: rgb(96, 98, 100);
}

.footer img {
  max-width: 100px;
}

.footer__img {
  position: relative;
  background-image: url(../images/16plus.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.element {
  animation: rotate 3s infinite;


}

@keyframes rotate {
  0% {
    transform: rotate(-180deg)
  }

  100% {
    transform: rotate(180deg)
  }

}

@media (min-width: 481px) {

  /* Footer menu */
  .footermenu {
    display: none;
  }
}

@media (max-width: 480px) {

  /* Footer menu */
  .footermenu {
    display: flex;
    justify-content: center;
  
  }

  .container__footermenu {
    bottom: 0px;
    z-index: 1004;
    transform: translateY(0px);
    position: fixed;
    left: 0px;
    width: calc(100% + 0px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    min-height: 70px;
    background-color: rgba(14, 101, 122, 0.801);
    color: rgb(255, 255, 255);
    font-family: 800;
  }

  .container__footermenu span {
    font-size: 10px;
  }

  .container__footermenu a {
    font-size: 18px;
  }

  .li__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.bg_circle {
  border-radius: 10px;
  /* background: #73AD21; */
  outline: 2px solid rgba(245, 245, 245, 0.233);
  padding: 7px;

}