/* header */
.header {
  /* padding: 3rem 0; */
  background-color:#f5f5f5;
  padding: 10px 0;
  gap: 3px;
  transition: all 0.5s;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(33, 1, 73, 0.1);
  padding-left: 15px;
  padding-right: 15px;
  z-index: 999;
}

/* Toogle Sidebar button */
.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #012970;
  outline: 1px solid #00AEEF;
}

.container__header {
  flex-direction: row-reverse;
}

/* header nav link */
.header-nav__group{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.header-nav__link {
  font-size: 14px;
  
}

.header-nav__link a {
  text-transform: uppercase;
  font-size: 24px;
  color: rgb(6, 27, 207);
}