a,
button {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

/* glob*/
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.section-offset {
  padding-top: 50px;
  padding-bottom: 50px;
}

.visibility-hidden {
  visibility: hidden;
}

/* Сброс */
h1,
h2,
h3,
p,
figure,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* header */
.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

.container__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* s */

/*Main*/
.main {
  padding: 0;
  padding-bottom: 25px;
}

/*hero*/
.hero {
  background-image: linear-gradient(130deg, rgb(3, 43, 66) 10.9%, rgba(1, 22, 46, 0.459) 65.7%), url(../images/girlpic.png);
  /* background-color: rgb(18, 62, 63); */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 14%;
  padding-bottom: 50px;
  /* min-height: 480px; */
  height: 100vh;
  padding-bottom: 25px;

}

.hero h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  max-width: 100%;
  font-weight: 800;
  font-size: clamp(1.75rem, .964rem + 3.93vw, 4.5rem);

  color: var(--white-color);
  margin-bottom: 25px;

}

.hero__descr {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  width: 100%;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 29px;
  color: var(--white-color);
  margin-bottom: 25px;

  /* color: #5c5b5b; */
}

.hero a {
  position: relative;
  /* z-index: 999; */
}

.hero__block{
  background-color: #afafaf17;
  
  padding: 20px 40px;
  color: rgb(255, 255, 255);
  font-family: 800;
  outline: 1px solid rgba(158, 158, 158, 0.623);
  border-radius: 15px;
}
.hero__h2{
  font-size: 24px;
}
.hero__block__text{
  display: flex;
  flex-direction: column;
  gap: 5px;

}
.green{
  color: #00ff9d;
  font-size: 16px;
}
.btn {
  background-color: var(--default-color);
  border: 1px solid var(--default-color);
  border-radius: 10px;
  padding: 10px 28px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #ffffff;
  font-size: 16px;

}

.btn:focus {
  position: relative;
  background-color: var(--focus-color);
}

.btn:hover {
  background-color: var(--hover-color);
}

.btn:active {
  background-color: var(--active-color);
}

.hero img {
  max-width: 100px;
}

.container__hero__icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
  align-items: center;
  /* центрирование по горизонту */
  justify-content: center;


}

.container__hero__icons img {
  transform: scale(1);
  transition: 3s;
}

.container__hero__icons img:hover {
  transform: scale(1.5);
  transition: 0.3s;
}

.bg__img {
  position: relative;
  background-image: url(../images/jokeberry.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 10px;
  padding-top: 25px;
  padding-right: 10px;
}

.girl__img {
  position: relative;
  background-image: url(../images/girlpic.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10px;
  /* height: 100vh; */
  top: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
/* promo */
.promo{
  background-color: #343A40;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* qrblock */
.qrblock {
  padding-top: 25px;
  padding-bottom: 25px;
}

.qr__bg {
  position: relative;
  /* background-image: linear-gradient(130deg, rgb(25, 28, 34) 10.9%, rgba(53, 65, 83, 0) 65.7%), url(../images/person-scanning-qr-code.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 25px;
  /* height: 100vh;  */
}

.qrblock__block {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: var(--default-color);
}

.qrblock__block__description {
  font-size: 24px;
  font-weight: 700;

}

/* features */
.container__features {
  padding-top: 25px;
}

.small {
  font-size: 10px;
  color: #f1f1f1;
}

.features {
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 150px;
}

/* .container__features{
display: flex;
align-items: center;
justify-content: center;
} */

.features__container h2 {
  color: #302f2f;
}

/* easydev */
.easydev {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffffff;

}

.container__easydev {
  padding: 15px;
}

.easydev__group {
  display: flex;
  flex-direction: column;
}

.easydev__group i {
  margin-right: 15px;
  color: #1865f5;
}

.easydev__group li {
  padding: 10px 0px;

}

/* qrblock */
/* .qrblock{padding-top: 25px;} */

/* Frontend Backend */
.font-back {
  padding-top: 25px;
  background-color: rgb(240, 240, 240);
  color: #1b1b1b;
}

.target-group {
  padding-top: 25px;
  background-color: rgb(240, 240, 240);
}

.about {
  padding-top: 60px;
  background-color: rgb(240, 240, 240);
}

.bluebold {
  color: var(--default-color);
  font-weight: 800;
  background-color: var(--white-color);
  padding: 3px;
  border-radius: 5px;
}

.tech a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 200;
  color: #161616;
}

.tech img {
  max-width: 190px;
}

@media (max-width: 1441px) {
  .container {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;

  }
}

@media (max-width: 480px) {
  .hero{
    padding-top: 100px;
    margin-bottom: 50px;
  }
  .nav-item img {
    display: block;
    /* outline: 1px solid rgb(38, 8, 148); */
    border-radius: 5px;
    /* padding: 2px; */
    max-width: 30px;
  }

  .container__hero {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding-top: 20%; */
    /* padding-left: 10px;
    padding-right: 10px; */
    /* padding-bottom: 5px; */
  }

  .hero h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    /* padding-top: 18%; */
   
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: var(--white-color);
  }

  .hero__descr {
    font-weight: 500;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 14px;
    font-size: 20px;
    color: var(--white-color);
    margin-bottom: 25px;
    background-color: #00000023;

  }
  .hero__descr__short{
    font-size: 26px;
    font-family: 800;
  }

  .hero img {
    max-width: 50px;
  }
}
.container__promo{padding: 15px;
color: #ffffff;
font-size: 24px;}

/* features */
.features__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.card {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-radius: 15px;
  outline: 1px solid rgba(0, 0, 0, 0.164);
  width: 100%;
  min-height: 260px;
  padding: 25px;

}

.card:hover {
  outline: 1px solid rgb(0, 0, 0);

}