*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

:root {
  --default-color: #1865f5;
  --hover-color: #2c83bd;
  --focus-color: #8999f3;
  --active-color: #0ca719;
  --gray-light-color: #CACACA;
  --grey-color: #666666;
  --black-color: #000000;
  --white-color: #ffffff;

}

a,
button {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

/* glob*/
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.section-offset {
  padding-top: 50px;
  padding-bottom: 50px;
}
.visibility-hidden {
  visibility: hidden;
}

/* Сброс */
h1,
h2,
h3,
p,
figure,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* header */
.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;

}
.container__header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.glass_bg{
  background-color: #d3d0d0a4;
  border-radius: 15px;
}
/*Main*/
.main {
  padding: 0;
  padding-bottom: 25px;
}

/*hero*/
.hero {
  background-image: linear-gradient(130deg, rgb(25, 28, 34) 10.9%, rgba(53, 65, 83, 0) 65.7%), url(../images/coding-man1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 25px;
  height: 100vh;
  
}

.hero h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  max-width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.75rem, .964rem + 3.93vw, 4.5rem);
  /* line-height: 60px; */
  color: var(--white-color);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.hero__descr {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  width: 100%;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 29px;
  color: var(--white-color);
}
.hero a {
  position: relative;
  /* z-index: 999; */
}

.hero__btn:focus {
  position: relative;
  background-color: var(--focus-color);
}

.hero__btn:hover {
  background-color: var(--hover-color);
}

.hero__btn:active {
  background-color: var(--active-color);
}
.hero img{
  max-width: 100px;
}
.container__hero__icons{
display: flex;
flex-direction: row;
gap:10px;

align-items: center; /* центрирование по горизонту */
justify-content: center; 
}
.bg__img {
  position: relative;
  background-image: url(../images/jokeberry.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 10px;
  padding-top: 25px;
  padding-right: 10px;
}
.girl__img {
  position: relative;
  background-image: url(../images/girlpic.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:10px;
  /* height: 100vh; */
  top:0px;
  padding-left: 10px;
  padding-right: 10px;
}
/* qrblock */
.qrblock{
  padding-top: 60px;
  padding-bottom: 25px;
}
.qr__bg {
  position: relative;
  background-image: linear-gradient(130deg, rgb(25, 28, 34) 10.9%, rgba(53, 65, 83, 0) 65.7%), url(../images/girlpic.png);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 25px;
  /* height: 100vh; */
}
.qrblock__block{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color:var(--default-color);
}
.qrblock__block__description{
  font-size: 24px;
  font-weight: 700;
 
}
/* intro */
.intro {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 25px;
  color: #070707;
}
.container__intro {
  /* background-image: linear-gradient(45deg, rgb(255, 255, 255),
    rgba(255, 255, 255, 0.685), rgb(250, 250, 250));  */
  border-radius: 32px;
}
.intor p {
  color: rgb(0, 0, 0);
  font-size: 18px;
}
.intro h2 {
  color: rgb(44, 43, 43);
}

.intro ul{
  text-decoration: dashed;
}
.intro li{
  text-decoration: dotted;
}

/* features */
.features__container {
  padding-top: 25px;
}
.small {
  font-size: 9;
  color: #f1f1f1;
}

.card {
  background-color: #fff;
  padding: 5px;
  min-height: 380px;
  border-radius: 8px;
  outline:1px solid rgba(226, 240, 122, 0.103);
  transition: 0.2s ease-in-out;
  margin-bottom: 10px;
}
.card:hover {
  outline:5px solid var(--hover-color);  
  border-radius: 5px;
}
.card:last-child {
  align-items: center;
  margin-bottom: 10px;
}

.green{
  background-color: #82c727;
}

.purple{
  background-color:rgb(183, 15, 127);
  color: white;
}
.features {
  background-color: rgb(240, 240, 240);
  padding-bottom: 25px;
}
.features__container h2 {
  color: #302f2f;
}
/* Frontend Backend */
.font-back {
  padding-top: 25px;
  background-color: rgb(240, 240, 240);
  color: #1b1b1b;
}
.target-group {
  padding-top: 25px;
  background-color: rgb(240, 240, 240);
}
.about {
  padding-top: 25px;
  background-color: rgb(240, 240, 240);
  
}

.tech a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 200;
  color: #161616;
}
.tech img{
  max-width: 190px;
}


@media (max-width: 480px) {
  .nav-item img{
    display: block;
    /* outline: 1px solid rgb(38, 8, 148); */
    border-radius: 5px;
    padding: 2px;
    max-width: 30px;
  }

  .container__hero {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20%;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-bottom: 5px; */
  }

  .hero h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    padding-top: 10%;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .hero__descr {
    font-weight: 600;
    background-color: #0000002d;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 14px;
    font-size: 18px;
    color: var(--white-color);
    padding-bottom: 0px;

  }

  .hero img {
    max-width: 50px;
     }

}
