/* header nav */
.header-nav ul {
    list-style: none;
  }
  .header-nav > ul {
    margin: 0;
    padding: 0;
  }
    
  /* .header-nav .nav-icon {
    font-size: 18px;
    color: #012970;
    margin-right: 25px;
    position: relative;
  } */
    .header-nav .nav-profile {
    color: #707070;
  }
  .header-nav .nav-profile img {
    max-height: 36px;
  }
  
  .header-nav .nav-profile span{
      font-size: 14px;
      font-weight: 600;
  }
  
  .header-nav .badge-number{
      position: absolute;
      inset: -2px -5px auto auto;
      font-weight: normal;
      font-size: 10px;
      padding: 3px 6px;   
  }
  .header-nav .notifications {
      inset: 8px -15px auto auto !important;
  }
  .menu-icon{
    display: none;
    /* outline: 1px solid rgb(38, 8, 148); */
    border-radius: 5px;
    padding: 2px;
    max-width: 30px;
 
  }
  
  .nav-item img{
    /* outline: 1px solid rgb(38, 8, 148); */
    border-radius: 5px;
    padding: 2px;
    max-width: 30px;
  }
  .dropdown-header img{
    min-width: 50px;
    background-color: rgba(80, 22, 189, 0.24);
  }
  .reg-link{
    /* outline: 1px solid gray; */
    padding: 5px 8px;
    border-radius: 5px;
  }
  /* * */
  .header-nav .notifications .notification-item {
      display: flex;
      align-items: center;
      padding: 5px 5px;
      transition: 0.3s;
  }
  .header-nav .notifications .notification-item i{
      margin: 0 20px 0 10px;
      font-size: 14px;
  }
  .header-nav .notifications .notification-item h4{
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 3px;
  }
  .header-nav .notifications .notification-item p{
      font-size: 14px;
      margin-bottom: 3px;
      color: #919191;
  }
  .header-nav .notifications .notification-item:hover {
      background-color: #7f8796;
  }
  /* message-item */
  .header-nav .notifications .message-item {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    transition: 0.3s;
  }
  .header-nav .notifications .message-item i{
    margin: 0 20px 0 10px;
    font-size: 14px;
   
  }
  .header-nav .notifications .message-item h4{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .header-nav .notifications .message-item p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #919191;
  }
  .header-nav .notifications .message-item:hover {
    background-color: #9ea1a8;
  }
  .header-nav .profile{
    background-color: rgb(255, 255, 255);
    /* outline: 1px solid rgb(34, 7, 109); */
    min-width: 260px;
    padding-bottom: 0;
    top: 5px !important;
  }
  .header-nav .profile .dropdown-header h6 {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 700;
    color: #444444;
  }
  .header-nav .profile a {
    font-size: 14px;
    line-height: 10px;
    margin-bottom: 0;
    font-weight: 500;
    color: #020202;
  }
/* SideBar Nav */
  .very-small{
    font-size: 12px;
    color: #7f8796;
  }
  