/* header nav */
.header-nav {
  position: relative;
  margin-right: 9px;
  text-decoration: none;
}
.header-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  list-style: none;
  text-transform: uppercase;
}

.header-nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 600;
  color: #161616;
}

.header-nav li {
  outline: 1px solid rgb(100, 100, 100);
  border-radius: 3px;
  font-weight: 600;
  padding: 5px 18px;
  transition: 0.3s;
}
.header-nav li:hover {
  outline: 1px solid rgb(100, 100, 100);
  background-color: #69696913;
  border-radius: 5px;
  padding: 5px 18px;
}
