.partnerlinks{
    /* position: absolute; */
    /* min-height: 100vh; */
    /* justify-content: center; */
    /* align-items: center; */
     /* z-index: 9999999;   */
}
.partnerlinks img{
    max-width: 32px;
}
.partnerlinks img:hover{
    max-width: 32px;
    /* outline: 1px solid gray; */
    border-radius: 2px;
    padding: 1px;
}
.partnerlinks img:active{
    max-width: 32px;
    outline: 1px solid rgb(25, 58, 241);
    border-radius: 2px;
    padding: 1px;
}
.container__partnerlinks{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
