/* General styles for all documents */
*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    /* добавим плавность переходов для всех элементов страницы*/
 }
 ul {
    list-style: none;
 }
 a {
    text-decoration: none;
    outline: none;
 }
 img {
    display: block;
    width: 100%;
 }
 h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    font-weight: normal;
    letter-spacing: 1px;
 }
 /* body {
   background: url('https://img.freepik.com/premium-photo/abstract-blurred-sky-colorful_40299-26.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 } */

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}



:root {
  --default-color: #1865f5;
  --hover-color: #2c83bd;
  --focus-color: #8999f3;
  --active-color: #0ca719;
  --gray-light-color: #CACACA;
  --grey-color: #302f2f;
  --black-color: #000000;
  --white-color: #ffffff;


}

 /* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
 header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
 }
 /* стилевой класс, который управляет шириной контейнера сетки*/
 .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
 }