.video-blog{
    padding-top: 80px;
    padding-bottom: 50px;
    /* background: rgb(2,0,36); */
    background: linear-gradient(90deg, rgb(126, 126, 126) 0%, rgb(238, 238, 238) 100%);
}
.h2__video{
    color: rgb(68, 68, 68);
}